<!DOCTYPE html>
<head>
  
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/hover-min.css" rel="stylesheet"/>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="Boot3/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="js/bootstrap.min.js">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="about.css">
</head>
<body>
   
    <div class="container-fluid">
        <!--------------------------------------------------------  -->
        <div class="row" style="background:#ffe0e7">
            
            <nav class="navbar navbar-default">
               
                <div class="container-fluid" style="background:black">
                    <div class="navbar-header">
                        <img src="images/jobbylogooo.png" height="80px" >
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#somani">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
<div class="collapse navbar-collapse" id="somani">
    <ul class="nav navbar-nav navbar-right navigationbar">
        <li><a href="/" style="color: white; font-size:20px">Home</a></li>
        <li><a href="/about" style="color: white; font-size:20px">About Us</a></li>
        <li><a href="/job" style="color: white; font-size:20px">Jobs</a></li>
        <li><a href="/registration" style="color: white; font-size:20px">Register</a></li>
        <li><a href="/help" style="color: white; font-size:20px">Help</a></li>
    </ul>
   
</div>
</div>
</nav>
</div>

<!-- ----------------------------------------------------------------------------------- -->
<div class="row" style="min-height:300px;background:linear-gradient(#ffe0e7, #ecfafc)">
    <div class="container">
      <center><h2>WHAT JOBBIYO DO FOR YOU ?</h2></center><br>  
    <div class="col-md-7" style="min-height:200px">
        Being challenged to learn and to grow is one of the key markers of a great company. In fact, getting out of your company zone is one of the best ways to learn new skills and to find out who you are as a professional. Look for companies that make you feel enthusiastic about taking on new challenges and offer the support you need to turn those challenges into wins.
    </div>

    
    <div class="col-md-4">
        <img src="images/anu3.jpg" height="200px" width="100%">
    </div>
</div></div>
<!-- ------------------------------------------------------------------------- -->
<div class="row" style="min-height:300px;background:linear-gradient(#ecfafc,#ffe0e7 )">
    <div class="container">
      <center><h2>WHY WE CHOSE JOBBY.O ?</h2></center><br>  

      <div class="col-md-4">
        <img src="images/jobbylogooo.png" height="200px" width="100%">
    </div>

    <div class="col-md-7" style="min-height:200px">
    <b>JOBBY.O means Search Job By Online</b><br>
    logo is an easily recognizable graphic symbol that identifies a company, a commercial product, or any public or private entity. It is one of the ways to distinguish a brand in a competitive world, full of graphic elements that try to attract our attention every day

    </div>
</div></div>

<!-- ----------------------------------------------------------- -->
<div class="row" style="background-color:#ecfafc; min-height:300px">
 <div class="col-md-2"></div>
    <div class="col-md-2 number"><br><h3>01</h3>
        <i class="fa fa-eye"></i>
        <br>
        <h2>FOCUS</h2>
        <p class="line">We have 100% commitment to making all our sites the best they can possibly be, no matter what it takes to get there.</p>
    </div>


    <div class="col-md-2 number"><br><h3>02</h3>
        <i class="fa fa-heart"></i>
        <br>
        <h2>PASSION</h2>
        <p class="line">Our desire to produce good works runs deep- that's what lets us handle every project with fresh energy and enthusiasm</p>
    </div>
    <div class="col-md-2 number"><br><h3>03</h3>
        <i class="fa fa-smile-o"></i>
        <br>
        <h2>EMPATHY</h2>
        <p class="line">While we share our knowledge and experience, we listen hard to understand your business and your needs.</p>
    </div>
    <div class="col-md-2 number"><br><h3>04</h3>
        <i class="fa fa-users"></i>
        <br>
        <h2>TEAMWORK</h2>
        <p class="line">We are united with you in the drive to get the best form your project-think of us as extra members of your team with all the skills you need.</p>
    </div>
    <div class="col-md-2"></div>
</div>
<!-- ------------------------------------------------------------------------- -->

<div class="row" style="min-height:400px;background:whitesmoke">
    <div class="container">
      <center><h2>MEET OUR TEAM</h2></center><br>  
      <div class="col-md-12">
        <img src="images/group.jpg" height="280px" width="100%"><br><br>
        Our team is responsible for contributing to the overall project objectives and specific team deliverables, by contributing towards the planning of project activities and executing assigned tasks/work within the expected quality standards, to ensure the project is a success.
    </div>
    </div></div>
<!-- -------------------------------------------------------------------------- -->

<div class="row profile"><br><br>
            <div class="col-md-1"></div>
            <div class="col-md-2"><img src="images/arpita.jpg" alt=""></div>
            <div class="col-md-2"><img src="images/somani.jpg" alt=""></div>
            <div class="col-md-2"><img src="images/anshu.jpg" alt=""></div>
            <div class="col-md-2"><img src="images/amren.jpg" alt=""></div>
            <div class="col-md-2"><img src="images/brijesh.jpg" alt=""></div>
            <div class="col-md-1"></div>
</div>

<!-- --------------------------------------------------------------------------- -->

<div class="row" style="min-height:250px;background-color: rgb(41,39,39);">
    <div class="col-md-3 ">
        <div class="row footer1">
            <img src="images/jobbylogooo.png"><br>
            <i class="fa fa-facebook" style="color:blue; margin-left:29px; font-size:30px"></i>
            <i class="fa fa-twitter"  style="color:blue; margin-left:5px; font-size:30px"></i>
            <i class="fa fa-whatsapp"  style="color:green; margin-left:5px;font-size:30px"></i>
        </div></div>

        <div class="col-md-9">
            <div class="row"><br>
                <div class="col-md-4 f1">
                    <span>Job By Stream</span><br><br>
                    <li><a href="#">Marketing Job</a></li>
                    <li><a href="#">Teaching</a></li>
                    <li><a href="#">Finance Job</a></li>
                    <li><a href="#">Web Devolopment job</a></li>
                    <li><a href="#">Networking Jobs</a></li>
                    <li><a href="#">Banking job</a></li>
                </div>
    
                <div class="col-md-4 f1"><span>Job By Places</span><br><br>
                    <li><a href="#">Job in Delhi</a></li>
                    <li><a href="#">Job in Noida</a></li>
                    <li><a href="#">Job in Banglore</a></li>
                    <li><a href="#">Job in Mumbai</a></li>
                    <li><a href="#">Job in Kolkata</a></li>
                    <li><a href="#">Job in Lukhnow</a></li>
    
    
                </div>
                <div class="col-md-4 f1"><span>Online Training</span><br><br>
                    <li><a href="#">BPO Jobs</a></li>
                    <li><a href="#">Java Jobs</a></li>
                    <li><a href="#">Data Science</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Machine Learning</a></li>
                    <li><a href="#">Android Development</a></li>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ---------------------------------------------------------------------------------- -->
<footer class="copy">
    <center>
        &copy; copyright WWW.JOBBYO.COM
    </center>
</footer>
<!-- ----------------------------------------------------------------------------------- -->
</body>
</html>