<html>

<head>

    <link href="Boot3/bootstrap.min.css"  rel="stylesheet"/>
    <script src="Boot3/jquery.js"></script>
    <script src="Boot3/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
       




    <link rel="stylesheet" href="jobmain.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- navbar start here -->
            <nav class="navbar navbar-default" style="background:black;">
                <div class="container-fluid">
                    
                    <div class="navbar-header">
                        <img src="images/jobbylogooo.png" style="height: 80px;width: 200px">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navigationbar">
                        <ul class="nav navbar-nav navbar-right navigationbar">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/about">ABOUT US</a></li>
                            <li><a href="/job">JOB</a></li>
                            <li><a href="/registration">REGISTER</a></li>
                            <li><a href="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- navbar end here -->
            
        </div>
    </div>
    <div class="container">
        <div class="row">


            <div class="col-md-4 full-time-1">
                <div class="row f-t-1-h">
                    <h4> Jobs by Top Skills</h4>
                    <hr width="100%">
                </div>

                <div class="col-md-12 full-time-1-1">
                    <li><a href="/accntjob">Accounting Jobs</a></li>
                    <li><a href="/bankjob">Banking Jobs</a></li>
                    <li><a href="/java">Java Jobs</a></li>
                    <li><a href="/marketingjob">Marketing Jobs</a></li>
                    <li><a href="/datasciencejob">Data Science Jobs</a></li>
                    <li><a href="/seojob">SEO Jobs</a></li>
                    <li><a href="/teajob">Teaching Jobs</a></li>
                    <li><a href="/networkingjob">Networking Jobs</a></li>
                    <li><a href="/softwareeng">Software Engineering Jobs</a></li>
                    <li><a href="/bpo">BPO Jobs</a></li>
                    <li><a href="/animationjob">Animation Jobs</a></li>
                </div>
            </div>

            <div class="col-md-8">

                <div class="row">

                    <div class="full-time-2">
                        <div class="f-t-2-h">
                            <span class="f-t-2-1-h">Work From Home</span>
                            <span class="f-t-2-2-h"><a href="/workhome">View All</a></span>

                        </div>

                        <div class="full-time-3">
                            <h5>Brain Managment consult...</h5>
                            <p>Data Engineer-WFH</p>
                            <p>Experience : 3-10 Years</p>
                            <p>Location(s) : Banglor</p>
                            <p>Employment : Full Time</p>
                            <button><a href="/applyjob">Apply</a></button>
                        </div>
                        <div class="full-time-3">
                            <h5>3i Infotech Limited</h5>
                            <p>Java Devoloper</p>
                            <p>Experience : 4-8 Years</p>
                            <p>Location(s) : Other India</p>
                            <p>Employment : Part Time</p>
                            <button><a href="/applyjob">Apply</a></button>
                        </div>
                        <div class="full-time-3">
                            <h5>Achievers Spot</h5>
                            <p>Medical Coding Job for 15-22 passout...</p>
                            <p>Experience : 3-10 Years</p>
                            <p>Location(s) : Chennai</p>
                            <p>Employment : FullTime</p>
                            <button><a href="/applyjob">Apply</a></button>
                        </div>
                    </div>
                </div>
                <div class="row" style="height:6%;"></div>
                <div class="row">

                    <div class="full-time-2">
                        <div class="f-t-2-h">
                            <span class="f-t-2-1-h">Recent Jobs</span>
                            <span class="f-t-2-2-h"><a href="/recentjobs">View All</a></span>

                        </div>

                        <div class="full-time-3">
                            <h5>Company Name Confid...</h5>
                            <p>French, German,Spanish</p>
                            <p>Experience : 0-4Years</p>
                            <p>Venue : Noida, Coimbatore</p>
                            <p>Employment : Part Time</p>
                            <button><a href="/applyjob">Apply</a></button>
                        </div>
                        <div class="full-time-3">
                            <h5>Click1 Counsulting Serv...</h5>
                            <p>Customer Care Officer</p>
                            <p>Experience : 0-4 Years</p>
                            <p>Venue : Hyderabad / Telangana</p>
                            <p>Employment : Full Time</p>
                            <button><a href="/applyjob">Apply</a></button>
                        </div>
                        <div class="full-time-3">
                            <h5>CareerFeat Consulta...</h5>
                            <p>German/freanch Languages</p>
                            <p>Experience : 5-12 Years</p>
                            <p>Venue : Bengaluru / Banglore</p>
                            <p>Employment : Part Time</p>
                            <button><a href="/applyjob">Apply</a></button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height:30px;"></div>

    <!-- footer start here -->

    <div class="container-fluid">
        <div class="row">
            <div class="row footer1">


               
                <!-- logo image -->
                <div class="col-md-3" style="min-height: 100px;"><br><br>
                    <img src="images/jobbylogooo.png"
                        style="height: 80px; width:200px; margin-left: 10px;margin-top:20px;"><br>
                    <i class="fa-brands fa-facebook" style="font-size: 25px; margin-left: 60px;color:blue"></i>
                    <i class="fa-brands fa-twitter" style="font-size: 25px; margin-left: 10px;color:rgb(52, 52, 231)"></i>
                    <i class="fa-brands fa-whatsapp" style="font-size: 25px; margin-left: 10px; color:green"></i>
                </div>

                <!-- end -->

                <div class="col-sm-3 f1"><span>Job By Stream</span>
                    <li><a href="#"></a>Marketing Job</li>
                    <li><a href="#"></a>Teaching</li>
                    <li><a href="#"></a>Finance Job</li>
                    <li><a href="#"></a>Web Devolopment job</li>
                    <li><a href="#"></a>Networking Jobs</li>
                    <li><a href="#"></a>Banking job</li>


                </div>
                <div class="col-sm-3 f1"><span>Job By Places</span>
                    <li><a href="#"></a>Job in Delhi</li>
                    <li><a href="#"></a>Job in Noida</li>
                    <li><a href="#"></a>Job in Banglor</li>
                    <li><a href="#"></a>Job in Mumbai</li>
                    <li><a href="#"></a>Job in Kolkata</li>
                    <li><a href="#"></a>Job in Lukhnow</li>


                </div>
                <div class="col-sm-3 f1"><span>Online Training</span>
                    <li><a href="#">BPO Jobs</a></li>
                    <li><a href="#">Java Jobs</a></li>
                    <li><a href="#">Data Science</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Machine Learning</a></li>
                </div>


            </div>
            <div class="row copy" style="background-color:black;">
                <center>

                    &copy; copyright WWW.JOBBYO.COM
                </center>
            </div>
        </div>
        <!-- end -->
    </div>

</body>

</html>