<html>

<head>
    <!-- <link rel="stylesheet" href="boot3/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="boot3/js/bootstrap.min.js"> -->
    <!-- <link rel="stylesheet" href="boot3/js/jquery.js"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="jobins.css">
    <link href="Boot3/bootstrap.min.css"  rel="stylesheet"/>
    <script src="Boot3/jquery.js"></script>
    <script src="Boot3/bootstrap.min.js"></script>


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- navbar start here -->
            <nav class="navbar navbar-default" style="background:black">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img src="images/jobbylogooo.png" style="height: 80px;width: 200px">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navigationbar">
                        <ul class="nav navbar-nav navbar-right navigationbar">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/about">ABOUT US</a></li>
                            <li><a href="/job">JOBS</a></li>
                            <li><a href="/registration">REGISTER</a></li>
                            <li><a href="/help">HELP</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- navbar end here -->
        </div>
    </div>



    <div class="container">
        <div class="row" style="height:30px;">
            <center>
              RECENT JOBS
            </center>
        </div>
        <div class="row">
            <div class="col-md-4 full-time-1">
                <div class="row f-t-1-h">
                    <h4> Jobs by Top Skills</h4>
                    <hr width="100%">
                </div>

                <div class="col-md-12 full-time-1-1">
                    <li><a href="/accntjob">Accounting Jobs</a></li>
                    <li><a href="/bankjob">Banking Jobs</a></li>
                    <li><a href="/java">Java Jobs</a></li>
                    <li><a href="/marketingjob">Marketing Jobs</a></li>
                    <li><a href="/datasciencejob">Data Science Jobs</a></li>
                    <li><a href="/seojob">SEO Jobs</a></li>
                    <li><a href="/teajob">Teaching Jobs</a></li>
                    <li><a href="/networkingjob">Networking Jobs</a></li>
                    <li><a href="/softwareeng">Software Engineering Jobs</a></li>
                    <li><a href="/bpo">BPO Jobs</a></li>
                    <li><a href="/animationjob">Animation Jobs</a></li>
                </div>
            </div>


            <div class="col-md-8">
                <div class="row work-1">
                    <h5>Lead Java Developer</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/applyjob">Apply</a></button>
                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>


                <!-- 2 -->
                <div class="row work-1">
                    <h5>Data Entry Operator</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/applyjob">Apply</a></button>
                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>

                <!-- 3 -->

                <div class="row work-1">
                    <h5>Experience Techology Manager</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/applyjob">Apply</a></button>
                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>

                <!-- 4 -->
                <div class="row work-1">
                    <h5>Cloud Computing Trainer</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/applyjob">Apply</a></button>
                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>
                <!-- 5 -->
                <div class="row work-1">
                    <h5>Product Designer</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/applyjob">Apply</a></button>
                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>

                <!-- 6 -->
                <div class="row work-1">
                    <h5>Senior Executive</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/applyjob">Apply</a></button>
                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>



            </div>
        </div>
    </div>


    <!-- footer strat here -->
    <div class="container-fluid">
        <div class="row" style="background-color:rgb(41, 39, 39);">
            <div class="col-md-3" style="min-height:20%;">
                <div class="row footer1">
                    <img src="images/jobbylogooo.png"><br> 
                    <i class="fa-brands fa-facebook" style="font-size: 25px; margin-left: 20px;color:blue"></i>
                    <i class="fa-brands fa-twitter" style="font-size: 25px; margin-left: 7px;color:rgb(52, 52, 231)"></i>
                    <i class="fa-brands fa-whatsapp" style="font-size: 25px; margin-left: 7px;color:green"></i>
                </div>
            </div>

            <div class="col-sm-3 f1"><span>Job By Stream</span>
                <li><a href="#"></a>Marketing Job</li>
                <li><a href="#"></a>Teaching</li>
                <li><a href="#"></a>Finance Job</li>
                <li><a href="#"></a>Web Devolopment job</li>
                <li><a href="#"></a>Networking Jobs</li>
                <li><a href="#"></a>Banking job</li>
            </div>

            <div class="col-sm-3 f1"><span>Job By Places</span>
                <li><a href="#"></a>Job in Delhi</li>
                <li><a href="#"></a>Job in Noida</li>
                <li><a href="#"></a>Job in Banglor</li>
                <li><a href="#"></a>Job in Mumbai</li>
                <li><a href="#"></a>Job in Kolkata</li>
                <li><a href="#"></a>Job in Lukhnow</li>


            </div>
            <div class="col-sm-3 f1"><span>Online Training</span>
                <li><a href="#">BPO Jobs</a></li>
                <li><a href="#">Java Jobs</a></li>
                <li><a href="#">Data Science</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Machine Learning</a></li>
            </div>


        </div>
        <div class="row copy">
            <center>
                &copy; copyright WWW.JOBBYO.COM
            </center>
        </div>

    </div>


    <!-- footer end here  -->




</body>

</html>