body{
    background: linear-gradient(rgba(239, 155, 86, 0.837),rgb(103, 194, 208),rgb(224, 161, 238));
    /* background-color: whitesmoke; */
    height: 100vh;
}
.apply{
    background: linear-gradient(rgba(239, 155, 86, 0.837),rgb(103, 194, 208),rgb(224, 161, 238));
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px black;
}
h2{
    
    font-size: 40px;
    font-weight: bold;
}
label{
    font-size: 25px;
    margin-left: 30px;
    
}
input{
    width: 85%;
    padding: 8px;
    border-radius: 5px;
    margin-left: 30px;

}
button{
    float: right;
    margin-right: 50px;
    width: 90px;
    padding: 7px;
    box-shadow: 0px 2px 2px 2px white;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(60, 126, 218);
    margin-bottom: 10px;
}