*{
    margin: 0px;
    padding: 0px;
   
}
body{
    background: linear-gradient(rgba(239,155,86,0.837),rgb(103,194,208),rgb(224,161,238));
}
/* navbar start */
.navigationbar li a{
    color:bisque;
    font-size:15px;

}
/* navbar end */



/* side bar start */
.full-time-1{
    border: 1px solid whitesmoke;
    box-shadow: 0px 2px 2px 2px rgb(10, 7, 7);
    border-radius: 5px;
    margin-left: 22px;
    margin-right: 20px;
    float: left;
    max-height:100%;
    width: 25%;
    background-color:rgb(226, 222, 222);
}
.f-t-1-h h4{
    text-align: center;
    font-size: 25px;
    max-height: 100%;

}
.full-time-1-1 li{
    list-style: none;
    line-height: 23px;
    font-size: 14px;
   
}
.full-time-1-1 li a{
    text-decoration: none;
    list-style: none;
    color: black;

}
/* side bar end  */
.full-time-2{
   
    background-color:rgb(226, 222, 222);
    width: 97%;
    border-radius: 5px;
    height: 195px;
    float: right;
     max-height:100%;
    

}
.f-t-2-h{
    
    background-color:rgb(226, 222, 222);
    height: 40px;
    max-height: 100%;
    
}
.f-t-2-1-h{
  
    float: left;
    margin-top: 3px;
    padding-left: 4%;
    font-size: 20px;

}
.f-t-2-2-h{
    padding-right: 30px;
    float: right;
    margin-top: 10px;
}
.f-t-2-2-h a{
    font-size: 12px;
}
.full-time-3{
    margin-left: 11px;
    height: 145px;
    width: 31%;
    min-width: 5%;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px black;
    background-color:whitesmoke;
    float: left;
}
.full-time-3 button{
    font-size: 12px;
    color:black;
    float:right;
    padding: 2px;
    margin-right: 20px;
    width:70px;
    border-radius: 5px;
    background: rgba(50,152,215,0.938);
}
.full-time-3 h5{
    font-size: 15px;
    padding-left: 10px;
    font-weight: 700px;
    color: black;

}
.full-time-3 p{
    padding-left: 10px;
    line-height: 10px;
    font-size: 10px;
    color: black;
}

/* footer start */
.footer1 {
    background-color:rgb(41, 39, 39);
   
}
.f1{
    margin-top: 10px;
}
.f1 span {
    
    font-size: 20px;
    color:bisque;

}

.f1 li {
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    line-height: 25px;
    color:bisque;
}

.f1 li a {
    text-decoration: none;
    color:bisque;
    font-size: 13px;
}

.copy{
    text-align: center;
    color: white;
    min-height: 40px;
    padding-top: 10px;
    text-transform: lowercase;
}
/* footer end */